
//@theme "/usr/share/rofi/themes/android_notifrasiication."

@theme "/usr/share/rofi/themes/android_notification.rasi"

* {
    /* theme-changer: begin */
    bg:      #0e1415;
    bg-sel:  #1b2122;
    fg:      #dee3e4;
    fg-dim:  #bfc8ca;
    accent:  #81d3df;

    background-color: transparent;
    text-color:       @fg;
    border-color:     #3f484a;
    spacing:          0;
    padding:          0;
    margin:           0;
    /* theme-changer: end */
}
